<h1>Dice Roll</h1>

<form action ="/process_roll">
<label for="alice">How many dice?</label>
<input id="alice" type="text" name="dice">

<form for="bob" action = "/process__roll">
<label>How many sides?</label>
<input id="bob" type="text" name = "sides">

<button>Roll!</button>
</form>
